@media (max-width:1280px){
    .bady{
        padding: 0 40px;
        position: fixed;
        width: 100%;
        
}
}
@media(max-width:768px){
    .container{
        display: block;
        background-image: none;
        width: 100vw;
    }
    .container__imagem{
        width: 50vw; 
    }
    .container__caixa{
        align-items: center;
    }
    .secundario{
        margin: 0;
        text-align: center;
    }
    .secundario__imagem{
        width: 50vw;
    }
    .descricao__texto{
        margin: 0 15% 0 15% ;
    }
    .dispositivos__lista{
        display: block;
    }
    .rodape__logo{
        margin-left: 8%;
    }
   .rodape__lista{
    display: block;
    margin-right: 5%;
   }
}